# Editors
.vscode/
.log

# Mac/OSX
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
**/__pycache__

# Everything in working_files folder
working_files/

# Temporary data files saved locally by scrapers
*.pkl
*.csv
*.html

# virtualenv
.venv/
venv/
ENV/

# Debugging
df_to_mongo.py

# Flask stuff:
instance/
.webassets-cache

# dotenv
.env

# Distribution / packaging
.Python
lib/
include/
bin/
share/

# DB backups
backup/

# Luigi
luigi-pipeline/.pid
luigi-pipeline/luigi_pipeline_output/
luigi-pipeline/luigi/
luigi-pipeline/.cfg
luigi-pipeline/.venv/
luigi-pipeline/venv/
luigi-pipeline/ENV/
luigi-pipeline/.env
luigi-pipeline/.ipynb_checkpoints
luigi-pipeline/env/
luigi-pipeline/.Python
luigi-pipeline/lib/
luigi-pipeline/include/
luigi-pipeline/bin/
luigi-pipeline/share/
luigi-pipeline/.vscode/
luigi-pipeline/.log
luigi-pipeline/.DS_Store
